<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
 <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">



</head>




<body>




  <div class="site-wrapper">

    <div class="site-wrapper-inner">



      <div class="cover-container">

        <div class="masthead clearfix">

        </div>
        <div class="inner cover">

          <div class="image-area">
            <ul>
              <li>&#9833;</li>
              <li>&#9834;</li>
              <li>&#9835;</li>
              <li>&#9836;</li>
              <li>&#9833;</li>
              <li>&#9834;</li>
              <li>&#9835;</li>
              <li>&#9836;</li>
              <li>&#9833;</li>
              <li>&#9834;</li>
              <li>&#9835;</li>
              <li>&#9836;</li>
              <li>&#9833;</li>
              <li>&#9834;</li>
              <li>&#9835;</li>
              <li>&#9836;</li>
              <li>&#9833;</li>
              <li>&#9834;</li>
              <li>&#9835;</li>
              <li>&#9836;</li>
            </ul>
            <img src="https://image.ibb.co/c0ad8G/colorful_2.png" alt="colorful_2" border="0">
          </div>

          <div class="image-area">
          </div>



          <p><button id="record" disabled>Record audio</button> </p>
          <p><button id="stop" disabled>Stop</button></p>
          <p><a href= "https://image.ibb.co/jhrYaw/colorful_3.png" id="view">View Creation</a></p>
          <p><audio id="audio" controls></audio></p>

        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>A Hack112F17 project by team 404NotFound.</p>
          </div>
        </div>

      </div>

    </div>
  </div>








  <!-- import Java Script Here-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% static 'js/index.js' %}"></script>

</body>
</html>