.image-post {
    background-color: #d3d3d3;
    margin-bottom: 30px;
}

.image-post:hover {
    background-color: #b3b3b3;
}

.image-post:active {
    background-color: #c3c3c3;
}

.image {
    width: 100%;
    height: 250px;
}

.caption-text {
    padding: 15px;
}

.postedby-text {
    padding: 15px;
}

button {
    border: 0;
    background: #31ffd5;
    font-family: Courier, 'Courier New', monospace;
    font-size: 1rem;
    padding: 0.5em 1em;
}

button:active, button:hover {
    background: #000;
    color: #fff;
}

button[disabled] {
    background: #ccc;
    color: #000;
}